
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml

.externalToolBuilders/**

*.launch

.cproject

.buildpath

/.sts4-cache/*

.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

.vscode/

/log/
/target/

!.mvn/wrapper/maven-wrapper.jar
